<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-broom"></i>
    </a>
    <%= link_to 'Add a new Broom', new_broom_path, class: 'btn btn-secondary btn-rounded' %>
  </div>
</nav>

<div class="text-center m-3 p-3">
  <h1>All our Brooms</h1>
</div>

<div class="container shadow p-5 mb-5 bg-body-tertiary rounded">
  <div class="row">
    <% @brooms.each do |broom| %>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100" style="width: 14rem;">
          <% if broom.photo.present? %>
            <%= image_tag broom.photo, class: "card-img-top img-fluid", alt: broom.name, style: "height: 150px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= broom.name %></h5>
            <p class="card-text"><%= broom.description %></p>
            <p class="card-text">Price: <%= number_to_currency(broom.price) %></p>
            <%= link_to 'View Details', broom_path(broom), class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
