<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-broom"></i>
    </a>
    <%= link_to 'Add a new Broom', new_broom_path, class: 'btn btn-secondary btn-rounded' %>
  </div>
</nav>
<div class="container mt-5">
  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded text-shadow">
    <div class="card-body text-shadow">
      <h1 class="card-title text-center"><%= @broom.name %></h1>

      <% if @broom.photo.attached? %>
        <div class="text-center my-4" id="text-shadow">
          <%= image_tag @broom.photo, class: 'img-fluid rounded broom-photo', alt: @broom.name, style: 'max-height: 400px;' %>
        </div>
      <% end %>
      <p class="card-text"><%= @broom.description %></p>
      <p class="card-text text-center"><strong>Prix :</strong> <%= number_to_currency(@broom.price) %>$</p>
      <div class="d-flex justify-content-between">
        <%= link_to 'Go back to the brooms', brooms_path, class: 'btn btn-secondary btn-rounded' %>
        <%= link_to 'Book this flying broom', new_broom_booking_path(@broom), class: 'btn btn-primary btn-rounded' %>
      </div>
    </div>
  </div>
</div>
